<ul class="main-menu">
  {% for link in linklists.main-menu.links %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != '' %}
  <li class="menu-link parant">
    <a class="link-title" href="{{ link.url }}">
      <span>{{ link.title }}</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-toggle="collapse" href="#collapse-{{ link.title | replace: ' ' , '-' | remove: '&' }}" class="link-title link-title-lg">
      <span>{{ link.title }}</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-{{ link.title | replace: ' ' , '-' | remove: '&' }}">
      {% for childlink in linklists[child_list_handle].links %}
      {% assign grand_childlink_handle = childlink.title | handle %}
      {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
      <li class="megamenu-li parant">
        <h2 class="sublink-title">{{ childlink.title }}</h2>
        <a data-toggle="collapse" href="#collapse-{{ childlink.title | replace: ' ' , '-' | remove: '&' }}" class="sublink-title">
          <span>{{ childlink.title }}</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-{{ childlink.title | replace: ' ' , '-' | remove: '&' }}">
          {% for grand_childlink_handle in linklists[grand_childlink_handle].links %}
          <li class="supmenu-li">
            <a href="{{ grand_childlink_handle.url }}" class="suplink-title">{{ grand_childlink_handle.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% elsif childlink.type != "collection_link" %}
      <li class="submenu-li parant{% if childlink.active %} active{% endif %}">
        <a href="{{ childlink.url }}" class="sublink-title">{{childlink.title}}</a>
      </li>
      {% endif %}    
      {% endfor %}

      {% for childlink in linklists[child_list_handle].links %}
      {% assign grand_childlink_handle = childlink.title | handle %}
      {% if childlink.type == "collection_link" and childlink.object.image %}
      <li class="menu-banner">
        <a href="{{childlink.url}}" class="banner-hover">
          <img src="{{ childlink.object.image | img_url: 'master' }}">
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
    <li class="menu-link">
      <a href="{{ link.url }}" class="link-title">
        {% assign collection =  link.object %}
<!-- Willow: Remove collection image from navbar -->
<!--         {% if collection.image %}
        <img src="{{ collection.image.src | collection_img_url: '40x40', crop: 'center'  }}" alt="{{ collection.image.alt }}" />
        {% endif %} -->
        <span>{{ link.title }}</span>
      </a>
      <a href="{{ link.url }}" class="link-title link-title-lg">
        <span>{{ link.title }}</span>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
<script>
  $('.megamenu-li').parent('ul').addClass('mega-menu');
  $('.menu-banner').parent('ul').addClass('banner-menu');
  $('.submenu-li').parent('ul').addClass('sub-menu');
</script>