{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}

<div class="single-product-wrap">
    <div class="{% if product.available %}product-image{% else %}product-image stock-out{% endif %}">
        <a class="pro-img" href="{{ product.url | within: collection }}">
            <img class="img-fluid img1 lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E" data-src="{{ product.featured_image.src | img_url : '390X468', crop: 'center' }}" alt="{{ image.alt | escape  }}">
            {% if product.images.size > 1 %}
              <img class="img-fluid img2 lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E" data-src="{{ product.images[1] | img_url: '390X468', crop: 'center' }}" alt="{{ product.images.last.alt | escape }}" />
            {% endif %}
        </a>
        <div class="product-label">
            {%- include 'product-label' -%}
        </div>
    </div>
    <div class="product-content">
        <h3>
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title | truncate: 30 }}</a>
        </h3>
        <div class="product-ratting">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        <div class="price-box">
            <span class="new-price">{{ product.price | money }}</span>
            {% if product.compare_at_price_max > product.price %}
            <span class="old-price">{{ product.compare_at_price | money }}</span>
            {% endif %}
        </div>
        {% if product.available %}
        <div class="product-action">
            {% include 'wishlist-button' %}

            {% if product.description contains '[affiliate_link]' and product.available %}
            {% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
            {% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}
            <a class="add-to-cart" title="{{ 'products.product.add_to_cart' | t }}" href="{{ affiliate_link_final }}" data-toggle="tooltip" data-placement="top" title="Add to cart">
                <i class="fa fa-shopping-bag"></i>
            </a>
            {% elsif product.available %}
            <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="add-to-cart ajax-spin-cart" data-toggle="tooltip" data-placement="top" title="Add to cart">
                <span>
                    <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                    <span class="cart-loading animated infinite rotateOut"><i class="ion-load-a"></i></span>
                    <span class="cart-added"><i class="ion-android-done"></i></span>
                    <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                </span>
            </a>
            {% else %}
            <a class="disabled-add-to-cart add-to-cart" href="#" title="{{ 'products.product.add_to_cart' | t }}">
                <i class="fa fa-shopping-bag"></i>
            </a>
            {% endif %}

            <a href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')" class="quick-view" data-toggle="tooltip" data-placement="top" title="Quickview">
                <i class="fa fa-eye"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>