{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
	{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}
	{%- assign func = 'Shopify.addItem(' | append: variant.id | append: ', 1)' -%}
{%- endif -%}
<div class="product-grid-list">
	<div class="single-product-wrap">
		<div class="{% if product.available %}product-image{% else %}product-image stock-out{% endif %}">
			<a class="pro-img" href="{{ product.url | within: collection }}">
				<img
					class="img-fluid img1 lazyload"
					src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E"
					data-src="{{ product.featured_image.src | img_url : '125X158', crop: 'center' }}"
					alt="{{ image.alt | escape  }}"
				>
			</a>
		</div>
		<div class="product-content">
			<h3>
				<a href="{{ product.url | within: collection }}" title="{{ product.title }}">
					{{- product.title | truncate: 30 -}}
				</a>
			</h3>
			<div class="price-box">
				<span class="new-price">{{ product.price | money }}</span>
				{% if on_sale %}
					{% if settings.sale_percent_enable %}
						<span class="percent-count"
							>-
							{{-
								product.selected_or_first_available_variant.compare_at_price
								| minus: product.selected_or_first_available_variant.price
								| times: 100.0
								| divided_by: product.selected_or_first_available_variant.compare_at_price
								| money_without_currency
								| replace: ',', '.'
								| times: 100
								| remove: '.0'
							-}}
							%</span
						>
					{% endif %}
				{% endif %}
				{% if product.compare_at_price_max > product.price %}
					<span class="old-price">{{ product.compare_at_price | money }}</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
