{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}  

{% if item.featured_image %}
<div class="search-item">
  <div class="search-item-image">
    <a href="{{ item.url | within: collection }}"><img src="{{ item.featured_image.src | img_url: 'large' }}" alt=""></a>
  </div>
  <div class="search-item-content">
    <h6>
      <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
    </h6>

    <div class="search-price">
      <span class="new-price">{{ item.price | money }}</span>
      {% if item.compare_at_price_max > item.price %}
      <span class="old-price">{{ item.compare_at_price | money }}</span>
      {% endif %}
    </div>
  </div>
</div>
{% else %}


    {% comment %}
    {%- if item.description contains '[short_description]' -%} 
    {%- assign short_description_first = item.description | split:'[/short_description]' | first -%}
    {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
    {{ short_description_final }}
    {%- else -%}
    {{ item.description | strip_html | truncatewords: 50 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first }}
    {%- endif -%}
    {% endcomment %}
    
<div class="search-blog-item">
  <div class="search-blog-img">
    <a href="{{ item.url }}">
      <img src="{{ item.image | img_url: '1024x1024' }}" alt="{{ item.title | escape }}" class="img-fluid" />
    </a>
  </div>
  <div class="search-blog-content">
    <h4 class="search-blog-title">
      <a href="{{ item.url }}">{{ item.title }}</a>
    </h4>
    <p>{{ item.content | strip | strip_html | truncatewords: 50 }}</p>
  </div>
</div>
{% endif %}
