<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies {% if settings.enable_box %}box-layout {% endif %}" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVXL7K8QL7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-KVXL7K8QL7');
  </script>
  
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {% include 'social-meta-tags' %}

  <!-- CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {%- include 'header-css' -%}

  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  <!-- JS -->
  {%- include 'header-js' -%}

  {% if template contains 'customers' or 'cart' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}  
  {%- render 'bold-common' -%}

  {{ 'gang-custom-css-shopify--main.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}

  <!-- Snap Pixel Code -->
  <script type='text/javascript'>
  (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
  {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
  a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
  r.src=n;var u=t.getElementsByTagName(s)[0];
  u.parentNode.insertBefore(r,u);})(window,document,
  'https://sc-static.net/scevent.min.js');
  
  snaptr('init', 'fafbc101-11f3-44d0-84e5-a2696ce90e3e', {
  'user_email': '__INSERT_USER_EMAIL__'
  });
  
  snaptr('track', 'PAGE_VIEW');
  
  </script>
  <!-- End Snap Pixel Code -->
  
</head>

<body  id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}">
  </div>
  {%- if settings.enable_preloader -%}
  {% include 'preloader' %} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {% include 'newsletter-popup' %}
  {%- endif -%}

  {% comment %}{% include 'top-nocification-bar' %}{% endcomment %}

  {% section 'header' %}
  {% section 'category-menu' %}
  {%- if template != 'index' -%}
  {% include 'breadcrumb-banner' %}
  {%- endif -%}

  <main role="main">
    {{ content_for_layout }}
  </main>
  <div class="mm-fullscreen-bg"></div>
  <div class="footer-bg" {% if settings.footer_main_bg_img_enable %}style="background-image: url('{% if settings.footer_main_bg_img %}{{ settings.footer_main_bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x610{% endif %}');"{% endif %}>
  {% comment %}{% section 'newsletter' %}{% endcomment %}
  {% section 'footer' %}
  {% section 'copy-right' %}
  </div>
  <!-- Necessary JS -->
  {% include 'footer-js' %}
  
  {%- section "promo-fixed" -%}
  {%- render 'bold-currency-converter' -%}
  </body>
</html>
