<section class="blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.blog_title !='' %}
            <h2>{{ section.settings.blog_title }}</h2>
            {% endif %}
            {% if section.settings.blog_desc !='' %}
            <p>{{ section.settings.blog_desc }}</p>
            {% endif %}
            {% if settings.section_title_img %}
            <span>
              <img src="{% if settings.section_title_img %}{{ settings.section_title_img | img_url: 'master' }}{% else %}https://via.placeholder.com/131x22{% endif %}" alt="{{ section.title.image.alt }}" />
            </span>
            {% endif %}
          </div>
        </div>
        {% assign blog_handle = 'news' %}
        {% unless blogs[blog_handle].empty? or blogs[blog_handle].articles.size == 0 %}
        {% if blogs[blog_handle].articles.size >= 4 %}
        {% assign container_width = 'one-whole' %}
        {% assign article_width = 'large-up--one-third medium--one-third small--one-whole' %}
        {% elsif blogs[blog_handle].articles.size == 2 %}
        {% assign container_width = 'large-up--two-thirds large-up--push-one-sixth' %}
        {% assign article_width = 'large-up--one-half medium--one-half small--one-whole' %}
        {% elsif blogs[blog_handle].articles.size == 1 %}
        {% assign container_width = 'large-up--two-thirds large-up--push-one-sixth' %}
        {% assign article_width = 'one-whole' %}
        {% endif %}
        <div class="blog-slider owl-carousel owl-theme" id="blog-slider">
          {% for article in blogs[blog_handle].articles %}
          <div class="item">
            {% include 'blog-grid-item' %}
          </div>
          {% endfor %}
        </div>
        {% endunless %}
        {% if section.settings.blog_view_btn_enable %}
        <div class="blog-view-wrap">
          <a href="{{ section.settings.blog_view_btn_url }}" class="btn btn-style">{{ section.settings.blog_view_btn }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $('#blog-slider').owlCarousel({
    loop: false,
    rewind: true,
    margin: 30,
    nav: false,
    navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
    dots: false,
    {%- if settings.enable_rtl -%}
    rtl: true,
    {%- endif -%}
    responsive:{
      0:{
        items: 1,
        margin: 15
      },
      479:{
        items: 1,
        margin: 15
      },
      768:{
        items: 2
      },
      979:{
        items: 3
      },
      1199:{
        items: 3
      }
    }
  });
</script>
{% schema %}
{
  "name": "Home Blog",
  "settings": [
  {
    "type": "range",
    "id": "blog_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 200,
    "step": 2,
    "unit": "px",
    "default": 50
  },
  {
    "type": "range",
    "id": "blog_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 200,
    "step": 2,
    "unit": "px",
    "default": 50
  },
  {
    "type": "text",
    "id": "blog_title",
    "label": "Section Title",
    "default": "Our blog"
  },
  {
    "type": "text",
    "id": "blog_desc",
    "label": "Section Description",
    "default": "Blog"
  },
  {
    "type" : "header",
    "content" : "Background Color"
  },
  {
    "type" : "checkbox",
    "id" : "blog_check",
    "label" : "With Backgorund",
    "default" : true
  },
  {
    "type" : "color",
    "id" : "blog_bgcolor",
    "label" : "Background Color",
    "default" : "#fff"
  },
  {
    "type" : "header",
    "content" : "View All Blog"
  },
  {
    "type": "text",
    "id": "blog_view_btn",
    "label": "Button Text",
    "default": "View All News"
  },
  {
    "type": "url",
    "id": "blog_view_btn_url",
    "label": "Button URL"
  },
  {
    "type": "checkbox",
    "id": "blog_view_btn_enable",
    "label": "Show View All Button",
    "default": false
  }
  ],
  "presets": [
  {
    "name": "Home Blog",
    "category": "Blog Post"
  }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
<style>
  .blog-wrap {
    padding-top:{{ section.settings.blog_padding_top }}px;
    padding-bottom:{{ section.settings.blog_padding_bottom }}px;
    {% if section.settings.blog_check %}
    background-color: {{ section.settings.blog_bgcolor }};
    {% endif %}
  }
  @media (max-width: 767px) {
    .blog-wrap {
      padding-top: 40px;
    }
  }
  {% if section.settings.blog_view_btn_enable %}
  .blog-wrap .blog-view-wrap {
    text-align: center;
    margin-top: 30px;
  }
  @media (max-width: 767px){
    .blog-wrap .blog-view-wrap {
      margin-top: 20px;
    }
  }
  {% endif %}
</style>