{% for block in section.blocks %}
	{% case block.type %}
		{% when 'product' %}
			<section class="collection-category">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="section-capture">
								<div class="section-title">
									{% if section.settings.section_title != '' %}
										<h2>{{ section.settings.section_title }}</h2>
									{% endif %}
								</div>
							</div>
							{% assign category_product = collections[block.settings.label_product] %}
							<div
								class="collection-slider owl-carousel owl-theme"
								id="pro-{{ category_product.title | replace: " ", "-" }}"
							>
								{% assign category_product_limit = section.settings.category_product_limit_handle %}
								{% for product in category_product.products limit: category_product_limit %}
									<div class="item">
										{% include 'product-grid-item' %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>

			<script type="text/javascript">
				$('#pro-{{ category_product.title | replace: " ", "-" }}').owlCarousel({
				  loop: false,
				  rewind: true,
				  margin: 30,
				  nav: true,
				  navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
				  dots: false,
				  {%- if settings.enable_rtl -%}
				  rtl: true,
				  {%- endif -%}
				  autoplay: true,
				  sautoplayTimeout: 5000,
				  autoplayHoverPause: true,
				  responsive:{
				    0:{
				      items: 2,
				      margin: 15
				    },
				    479:{
				      items: 2,
				      margin: 15
				    },
				    768:{
				      items: 3
				    },
				    979:{
				      items: 3
				    },
				    1199:{
				      items: {{ section.settings.category_product_limit }}
				    }
				  }
				});
			</script>
	{% endcase %}
{% endfor %}

{% schema %}
{
	"name": "Slider category",
	"settings": [
		{
			"type": "header",
			"content": "Section Padding"
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "Section Title",
			"default": "Featured Products"
		},
		{
			"type": "range",
			"id": "category_padding_top",
			"label": "Section Padding Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 60
		},
		{
			"type": "range",
			"id": "category_padding_bottom",
			"label": "Section Padding Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 60
		},
		{
			"type": "header",
			"content": "Product"
		},
		{
			"type": "select",
			"id": "category_product_limit",
			"label": "slides Per View",
			"options": [
				{
					"label": "2 Products",
					"value": "2"
				},
				{
					"label": "3 Products",
					"value": "3"
				},
				{
					"label": "4 Products",
					"value": "4"
				},
				{
					"label": "5 Products",
					"value": "5"
				}
			],
			"default": "5"
		},
		{
			"type": "text",
			"id": "category_product_limit_handle",
			"label": "Product Limit",
			"default": "10"
		}
	],
	"blocks": [
		{
			"type": "product",
			"name": "Product",
			"limit": 5,
			"settings": [
				{
					"type": "collection",
					"id": "label_product",
					"label": "New Product"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Product"
		}
	]
}
{% endschema %}
<style>
	.collection-category{
	  padding-top:{{ section.settings.category_padding_top }}px;
	  padding-bottom:{{ section.settings.category_padding_bottom }}px;
	}
	@media (max-width: 767px){
	  .collection-category {
	    padding-top: 40px;
	  }
	}
</style>
