<div class="google-map-area contact-area hm-4-padding" style="padding-top:{{ section.settings.section_padding_top }}px;padding-bottom:{{ section.settings.section_padding_bottom }}px;">
  <div class="container-fluid">
    <div class="contact-map">
      <div id="map"></div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ section.settings.map_api_key }}"></script>
<script>
  function init() {
    var mapOptions = {
      zoom: 11,
      scrollwheel: false,
      center: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}),
      styles: 
      [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#878787"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#444444"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#000000"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#2d333c"
            },
            {
              "lightness": 17
            }
          ]
        }
      ]
    };
    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}),
      map: map,
      icon: '{% if section.settings.map_icon_image %}{{ section.settings.map_icon_image | img_url: 'small' }}{% else %}https://via.placeholder.com/85x115{% endif %}',
      {% if section.settings.icon_animation_enable %}
      animation:google.maps.Animation.BOUNCE,
      {% endif %}
      title: 'Snazzy!'
    });
  }
  google.maps.event.addDomListener(window, 'load', init);
</script>




{% schema %}
  {
    "name": "Google Map (Contact)",
    "settings": [
			  {
                "type": "range",
                "id": "section_padding_top",	
                "label": "Section Padding Top",
                "min":       0,
                "max":        200,
                "step":       2,
                "default":   0
              },           
			  {
                "type": "range",
                "id": "section_padding_bottom",	
                "label": "Section Padding Bottom",
                "min":       0,
                "max":        200,
                "step":       2,
                "default":   0
              },

			{
				"type": "image_picker",
				"id": "map_icon_image",
				"label": "Map Location Marker"
			},

			{
				"type": "checkbox",
				"id": "icon_animation_enable",
				"label": "Icon Animation",
				"default": true
			},
			{
				"type": "text",
				"id": "latitude",
				"label": "Latitude",
				"default": "40.709896"
			},

			{
				"type": "text",
				"id": "longitude",
				"label": "Longitude",
				"default": "-73.995481"
			},

			{
				"type": "textarea",
				"id": "map_api_key",
				"label": "Google Map API Key",
				"default": "AIzaSyBMlLa3XrAmtemtf97Z2YpXwPLlimRK7Pk"
			}
	
		],
      "presets":[
          {
              "name": "Google Map (Contact)",
              "category": "4. about"
          }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
