<section class="main-content-wrap section-ptb contact-us-page">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="content-main-title">
					{% if section.settings.contact_us_title != '' %}
						<h2>{{ section.settings.contact_us_title }}</h2>
					{% endif %}

					{% if section.settings.contact_us_des != '' %}
						<p>{{ section.settings.contact_us_des }}</p>
					{% endif %}
				</div>

				{% if section.settings.contact_us_map_enable %}
					<div class="contact-map">
						{% if section.settings.map_show == 'google_map' %}
							<div class="google-map-area">
								<div id="map" class="map"></div>
							</div>
						{% else %}
							<img src="{{ section.settings.map_images | img_url : '1920x1024' }}" alt="" class="img-fluid">
						{% endif %}
					</div>
				{% endif %}

				<div class="contact-content">
					<div class="contact-form-warp">
						<div class="form-title">
							{% if section.settings.contact_drop_title != '' %}
								<h6>{{ section.settings.contact_drop_title }}</h6>
							{% endif %}
						</div>
						{% include 'contact-form' %}
					</div>

					<div class="contact-info">
						<div class="form-title">
							{% if section.settings.contact_form_title != '' %}
								<h6>{{ section.settings.contact_form_title }}</h6>
							{% endif %}

							{% if section.settings.contact_form_desc != '' %}
								<p>{{ section.settings.contact_form_desc }}</p>
							{% endif %}
						</div>

						<ul class="contact-info-list">
							{% for block in section.blocks %}
								<li>
									{% if block.settings.info_icon != '' %}
										<span>
											<i class="{{ block.settings.info_icon }}"></i>
										</span>
									{% endif %}
									<span>
										<label>{{ block.settings.info_title }}</label>
										<p>{{ block.settings.info_des }}</p>
									</span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{ section.settings.map_api_key }}"></script>
<script>
	function init() {
	  var mapOptions = {
	    zoom: 11,
	    scrollwheel: false,
	    center: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}),
	    styles:
	    [
	    {
	      "featureType": "all",
	      "elementType": "labels.text.fill",
	      "stylers": [
	      {
	        "saturation": 36
	      },
	      {
	        "color": "#878787"
	      },
	      {
	        "lightness": 40
	      }
	      ]
	    },
	    {
	      "featureType": "all",
	      "elementType": "labels.text.stroke",
	      "stylers": [
	      {
	        "visibility": "on"
	      },
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 16
	      }
	      ]
	    },
	    {
	      "featureType": "all",
	      "elementType": "labels.icon",
	      "stylers": [
	      {
	        "visibility": "off"
	      }
	      ]
	    },
	    {
	      "featureType": "administrative",
	      "elementType": "geometry.fill",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 20
	      }
	      ]
	    },
	    {
	      "featureType": "administrative",
	      "elementType": "geometry.stroke",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 17
	      },
	      {
	        "weight": 1.2
	      }
	      ]
	    },
	    {
	      "featureType": "landscape",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 20
	      }
	      ]
	    },
	    {
	      "featureType": "poi",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 21
	      }
	      ]
	    },
	    {
	      "featureType": "road.highway",
	      "elementType": "geometry.fill",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 17
	      }
	      ]
	    },
	    {
	      "featureType": "road.highway",
	      "elementType": "geometry.stroke",
	      "stylers": [
	      {
	        "color": "#444444"
	      },
	      {
	        "lightness": 29
	      },
	      {
	        "weight": 0.2
	      }
	      ]
	    },
	    {
	      "featureType": "road.arterial",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 18
	      }
	      ]
	    },
	    {
	      "featureType": "road.local",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 16
	      }
	      ]
	    },
	    {
	      "featureType": "transit",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#000000"
	      },
	      {
	        "lightness": 19
	      }
	      ]
	    },
	    {
	      "featureType": "water",
	      "elementType": "geometry",
	      "stylers": [
	      {
	        "color": "#2d333c"
	      },
	      {
	        "lightness": 17
	      }
	      ]
	    }
	    ]
	  };
	  var mapElement = document.getElementById('map');
	  var map = new google.maps.Map(mapElement, mapOptions);
	  var marker = new google.maps.Marker({
	    position: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}),
	    map: map,
	    title: 'Snazzy!'
	  });
	}
	google.maps.event.addDomListener(window, 'load', init);
</script>
{% schema %}
{
	"name": "Contact Template",
	"settings": [
		{
			"type": "header",
			"content": "Page Title"
		},
		{
			"type": "text",
			"id": "contact_us_title",
			"label": "Contact Page Title",
			"default": "Contact Us"
		},
		{
			"type": "text",
			"id": "contact_us_des",
			"label": "Contact Description",
			"default": "Got a question? We had love to hear from you. Send us a message and we will respond as soon as possible."
		},
		{
			"type": "header",
			"content": "Map Setting"
		},
		{
			"type": "checkbox",
			"id": "contact_us_map_enable",
			"label": "Show Map",
			"default": true
		},
		{
			"type": "select",
			"id": "map_show",
			"label": "Map Style",
			"options": [
				{
					"value": "google_map",
					"label": "Google Map Api Key"
				},
				{
					"value": "google_map_img",
					"label": "Google Map Image"
				}
			]
		},
		{
			"type": "image_picker",
			"id": "map_images",
			"label": "Google Map Images"
		},
		{
			"type": "text",
			"id": "latitude",
			"label": "Latitude",
			"default": "40.709896"
		},
		{
			"type": "text",
			"id": "longitude",
			"label": "Longitude",
			"default": "-73.995481"
		},
		{
			"type": "textarea",
			"id": "map_api_key",
			"label": "Google Map API Key",
			"default": "AIzaSyBMlLa3XrAmtemtf97Z2YpXwPLlimRK7Pk"
		},
		{
			"type": "header",
			"content": "Form Info"
		},
		{
			"type": "text",
			"id": "contact_drop_title",
			"label": "Form Title",
			"default": "Drop us message"
		},
		{
			"type": "text",
			"id": "name_placeholder",
			"label": "Name Placeholder",
			"default": "Enter your name"
		},
		{
			"type": "text",
			"id": "email_placeholder",
			"label": "Email Placeholder",
			"default": "Enter your emai address*"
		},
		{
			"type": "text",
			"id": "message_placeholder",
			"label": "Message Placeholder",
			"default": "Your message here..."
		},
		{
			"type": "text",
			"id": "form_button_name",
			"label": "Button Name",
			"default": "Submit"
		},
		{
			"type": "text",
			"id": "form_btn_icon",
			"label": "Icon Class",
			"default": "fa fa-arrow-right"
		},
		{
			"type": "image_picker",
			"id": "contact_img",
			"label": "Background Image",
			"info": "Recommended Size: 295 x 170px"
		},
		{
			"type": "header",
			"content": "Get Touch"
		},
		{
			"type": "text",
			"id": "contact_form_title",
			"label": "Contact Form Title",
			"default": "Get in Touch"
		},
		{
			"type": "text",
			"id": "contact_form_desc",
			"label": "Contact Form Description",
			"default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum earum eveniet dolorum suscipit nesciunt incidunt animi repudiandae ab at, tenetur distinctio voluptate vel illo similique."
		}
	],
	"blocks": [
		{
			"type": "contact_info",
			"name": "Contact Info",
			"settings": [
				{
					"type": "text",
					"id": "info_icon",
					"label": "Icon Class",
					"default": "fa fa-street-view"
				},
				{
					"type": "text",
					"id": "info_title",
					"label": "Info Title",
					"default": "Address"
				},
				{
					"type": "textarea",
					"id": "info_des",
					"label": "Info Description",
					"default": "Type here"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Contact Us",
			"category": "contact us",
			"blocks": [
				{
					"type": "contact_info"
				}
			]
		}
	]
}
{% endschema %}

<style>
	{% if section.settings.contact_img %}
	.contact-us-page .contact-content .contact-form-warp{
	  position: relative;
	}
	.contact-us-page .contact-content .contact-form-warp::after{
	  content: "";
	  position: absolute;
	  left: 50%;
	  bottom: 50%;
	  transform: translate(-50%, 50%);
	  height: 170px;
	  width: 295px;
	  z-index: -1;
	  opacity: 0.4;
	  background-image: url('{{ section.settings.contact_img | img_url : 'master' }}');
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	}
	{% endif %}
</style>
