<footer class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="ft-bottom">
            <li class="copy-right">
                <p>
                    <span>{{ section.settings.copy_right_text1 }}</span>
                    <i class="{{ section.settings.copy_right_icon }}"></i>
                    <span>{{ section.settings.copy_right_text2 }}</span>
                </p>
            </li>
            {% if section.settings.social_media_enable %}
            <li class="social-icon">
                {% for block in section.blocks %}
                <a href="{{ block.settings.social_url }}">
                    <i class="{{ block.settings.social_icon }}"></i>
                </a>
                {% endfor %}
            </li>
            {% endif %}
            <li class="payment-img">
                <a href="javascript:void(0)">
                    <img src="{% if section.settings.payment_img %}{{ section.settings.payment_img | img_url: 'master' }}{% else %}https://via.placeholder.com/307x18{% endif %}" class="img-fluid" alt="{{ section.settings.payment_img.alt | default: shop.name }}">
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<a href="javascript:void(0)" id="top" class="scroll">
  <i class="fa fa-angle-double-up"></i>
</a>
{% schema %}
{
    "name": "Copyright",
    "settings": [
    {
        "type": "checkbox",
        "id": "social_media_enable",
        "label": "Show Social Media",
        "default": true
    },
    {
        "type" : "header",
        "content" : "Copyright Text"
    },
    {
        "type": "range",
        "id": "foot_bt_padding_top",
        "label": "Section Padding Top",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 15
    },
    {
        "type": "range",
        "id": "foot_bt_padding_bottom",
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 15
    },
    {
        "type": "text",
        "id": "copy_right_text1",
        "label": "CopyRight Text1",
        "default": "Copyright"
    },
    {
        "type": "text",
        "id": "copy_right_icon",
        "label": "CopyRight Class",
        "default": "fa fa-copyright"
    },
    {
        "type": "text",
        "id": "copy_right_text2",
        "label": "CopyRight Text2",
        "default": "2020 spacingtech all rights reserved"
    },
    {
      "type": "image_picker",
      "id": "payment_img",
      "label": "Payment Option",
      "info": "Recommended Size: 250px x 25px"
    }
    ],
    "blocks":[
    {
        "type": "social_icon",
        "name": "Social Media",
        "settings": [
        {
            "type": "url",
            "id": "social_url",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "social_icon",
            "label": "Icon Class"
        }
        ]
    }
    ],
    "presets":[
    {
        "name": "Copyright",
        "category": "copyright"
    }
    ]
}
{% endschema %}

<style>
  .footer-bottom-area {
    padding-top:{{ section.settings.foot_bt_padding_top }}px;
    padding-bottom:{{ section.settings.foot_bt_padding_bottom }}px;
  }
</style>