{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
	{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<section class="main-content-wrap product-details-page product-details">
	<div class="container">
		<div class="row">
			{% if section.settings.product_style_handle == 'style_1' %}
				<div class="col-md-6 col-xl-6">
					<div class="product-details-images stickprcol-js">
						<div class="product_details_container">
							<div class="product_big_images-right">
								<div class="portfolio-full-image tab-content">
									<div class="featured-image">
										<div class="thumbnail" id="ProductPhoto">
											{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
											<img
												id="zoom_mw"
												class="product-zoom"
												src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E"
												data-src="{{ featured_image | img_url: '1024x1200' }}"
												alt="{{ featured_image.alt | escape }}"
												data-zoom-image="{{ featured_image | img_url: '1024x1200' }}"
											>
										</div>
										<div class="product-badge">
											{%- include 'product-badge' -%}
										</div>
									</div>
								</div>
							</div>
							{%- if product.images.size > 1 -%}
								<div id="gallery_01" class="product_small_images-left vartical-product-active">
									{% for image in product.images %}
										<a
											class="product-single__thumbnail {% if forloop.fast %}active{% endif %}"
											href="{{ image.src | img_url: '1024x1024' }}"
											data-image="{{ image.src | img_url: '1024x1024' }}"
											data-zoom-image="{{ image.src | img_url: '1024x1024' }}"
											data-image-id="{{ image.id }}"
										>
											<img
												class="lazyload"
												src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E"
												data-src="{{ image.src | img_url: '159x202' }}"
												alt="{{ image.alt | escape }}"
												class="img-fluid"
											>
										</a>
									{% endfor %}
								</div>
							{%- endif -%}
						</div>
					</div>
				</div>
			{% elsif section.settings.product_style_handle == 'style_2' %}
				<div class="col-md-6 col-xl-6 product_details lazyload">
					<div class="product_detail_img">
						<!-- product_big_images start -->

						{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
						{% render 'media-product-zoom',
							media: product.media[0],
							product: product,
							featured_image: featured_image,
							current_variant: current_variant
						%}

						<!--
							<img id="zoom_mw" class="product-zoom img-fluid lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20360%20459%22%3E%3C/svg%3E" data-src="{{ featured_image | img_url: '750x810' }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image | img_url: '750x810' }}">
						-->
						<!-- product_big_images end -->
						<!-- Start Small images -->
						<ul class="owl-carousel owl-theme pro-detail-slider" id="pro-detail-slider">
							{% for image in product.images %}
								<li id="gallery_01" role="presentation" class="item {% if forloop.fast %}active{% endif %}">
									<a
										class="product-single__thumbnail {% if forloop.first %}active{% endif %}"
										href="{{ image.src | img_url: '1024x1024' }}"
										data-image="{{ image.src | img_url: '1024x1024' }}"
										data-zoom-image="{{ image.src | img_url: '1024x1024' }}"
										data-image-id="{{ image.id }}"
									>
										<img src="{{ image.src | img_url: '159x202' }}" alt="{{ image.alt | escape }}" class="img-fluid">
									</a>
								</li>
							{% endfor %}
						</ul>
						<!-- End Small images -->
					</div>
				</div>
			{% endif %}
			<div class="col-md-6 col-xl-6 product_details">
				<div class="product_details_info">
					<div class="product-title">
						<h2>{{ product.title }}</h2>
					</div>

					{%- if section.settings.product_review_enable -%}
						<div class="product-ratting">
							<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
						</div>
					{%- endif -%}

					{%- if section.settings.product_inventory_enable -%}
						<div class="product-inventory">
							<h2>
								<span>{{ section.settings.availability_title }}</span>
								{% if product.variants.first.inventory_management == 'shopify'
									and product.variants.first.inventory_quantity > 0
								%}
									<span id="variant-inventory" class="in-stock">{{ section.settings.in_stock_title }}</span>
								{% else %}
									<span id="variant-inventory" class="out-stock">{{ section.settings.out_of_stock_title }}</span>
								{% endif %}
							</h2>
						</div>
					{%- endif -%}

					<div class="pro-price-label">
						<div class="price-box" id="ProductPrice">
							<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
							<span class="new-price">{{ product.selected_or_first_available_variant.price | money }}</span>
							{%- if product.compare_at_price_max > product.price -%}
								<span
									class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price"
									style="display:none !important;"
								></span>
								<span class="old-price">
									{{- product.selected_or_first_available_variant.compare_at_price | money -}}
								</span>
							{%- endif -%}
						</div>
						<div class="product-label">
							{%- include 'product-label' -%}
						</div>
					</div>

					{% if product.available %}
						{%- if section.settings.product_stock_enable -%}
							<div class="stock-inventory">
								{% if product.variants.first.inventory_management == 'shopify'
									and product.variants.first.inventory_quantity > 0
								%}
									<span>{{ section.settings.stock_label1 }}</span>
									<span>{{ product.variants.first.inventory_quantity }}</span>
									<span>{{ section.settings.stock_label2 }}</span>
								{% endif %}
							</div>
						{%- endif -%}
					{% endif %}

					{%- if section.settings.short_description_enable -%}
						{%- if product.description contains '[short_description]' -%}
							{%- assign short_description_first = product.description | split: '[/short_description]' | first -%}
							{%- assign short_description_final = short_description_first | split: '[short_description]' | last -%}
							<div class="product-description">
								{{ short_description_final }}
							</div>
						{%- else -%}
							{{
								product.description
								| strip_html
								| truncatewords: 35
								| split: '[short_description]'
								| first
								| split: '[product_description]'
								| first
								| split: '[new_products]'
								| first
								| split: '[product_video]'
								| first
								| split: '[affiliate_link]'
								| first
							}}
						{%- endif -%}
					{%- endif -%}

					<div class="pro-detail-action">
						<form action="/cart/add" method="post" class="cart" enctype="multipart/form-data" id="add-item-form">
							{%- unless section.settings.product_variant_handle == 'product_variant_without_option' -%}
								{% include 'product-swatch-variant' %}
							{%- endunless -%}

							{% if product.available %}
								<div class="product-actions">
									{%- if product.description contains '[affiliate_link]' -%}
										{%- include 'affiliate-product-cart-action' -%}
									{% endif %}

									<div class="product-quantity-action">
										<span>{{ section.settings.qty_title }}</span>
										<div class="product-quantity">
											<div class="cart-plus-minus">
												<input value="1" type="text" name="quantity" min="1" pattern="[0-9]*">
											</div>
										</div>
									</div>
									<div class="pro-detail-button">
										{%- if settings.wishlist_enable -%}
											{% include 'wishlist-button' %}
										{%- endif -%}

										{% if product.description contains '[affiliate_link]' and product.available %}
											{% assign affiliate_link_first = product.description | split: '[/affiliate_link]' | first %}
											{% assign affiliate_link_final = affiliate_link_first | split: '[affiliate_link]' | last %}
											<a
												class="add-to-cart"
												title="{{ 'products.product.add_to_cart' | t }}"
												href="{{ affiliate_link_final }}"
												data-toggle="tooltip"
												data-placement="top"
												title="Add to cart"
											>
												<i class="fa fa-shopping-bag"></i>
											</a>
										{% elsif product.available %}
											{% include 'product-cart-action' %}
										{% else %}
											<a
												class="disabled-add-to-cart add-to-cart"
												href="#"
												title="{{ 'products.product.add_to_cart' | t }}"
											>
												<i class="fa fa-shopping-bag"></i>
											</a>
										{% endif %}
										<a
											href="javascript:void(0)"
											class="btn btn-cart btn_theme"
											onClick="instantBuy()"
											data-toggle="tooltip"
											data-placement="top"
											title="Direct to checkout"
										>
											<span>{{ section.settings.buy_now_title }}</span>
										</a>
									</div>
								</div>
							{% endif %}

							{%- if current_variant.sku.size > 0 and section.settings.product_sku_enable -%}
								<div class="product-sku">
									<h2 class="title_2">{{ section.settings.product_sku_title }}</h2>
									<span class="variant-sku">{{ current_variant.sku }}</span>
								</div>
							{%- endif -%}

							{% if section.settings.social_share_enable %}
								{% include 'social-share' %}
							{% endif %}
							{% if section.settings.checkout_img_enable %}
								<div class="product-checkout-image">
									<img src="{{ section.settings.checkout_img | img_url: 'master' }}">
								</div>
							{% endif %}
							<div class="mt-3">
								{% render 'verisart-logo-dark' %}
							</div>
						</form>
					</div>
					{% if product.description contains '[product_timer]'
						and product.compare_at_price_max > product.price
						and product.available
					%}
						{% assign product_timer_first = product.description | split: '[/product_timer]' | first %}
						{% assign product_timer_final = product_timer_first | split: '[product_timer]' | last %}
						<div
							class="timer-section counter-event-{{product.id}}"
							id="counter-event"
							data-enddate="{{product_timer_final}}"
						></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$('.counter-event-{{product.id}}')
		.countdown($('.counter-event-{{product.id}}').attr('data-enddate'))
		.on('update.countdown', function (event) {
			var $this = $(this).html(
				event.strftime(
					'' +
						'<ul class="contdown_row"><li class="countdown_section"><span id="days" class="countdown_timer">%-D</span>{% if settings.count_text_enable %}<span class="countdown_title">{{ settings.day_title }}</span>{% endif %}</li>' +
						'<li class="countdown_section"><span id="hours" class="countdown_timer">%H</span>{% if settings.count_text_enable %}<span class="countdown_title">{{ settings.hour_title }}</span>{% endif %}</li>' +
						'<li class="countdown_section"><span id="minutes" class="countdown_timer">%M</span>{% if settings.count_text_enable %}<span class="countdown_title">{{ settings.minute_title }}</span>{% endif %}</li>' +
						'<li class="countdown_section"><span id="seconds" class="countdown_timer">%S</span>{% if settings.count_text_enable %}<span class="countdown_title">{{ settings.second_title }}</span>{% endif %}</li></ul>'
				)
			);
		});
</script>
{% schema %}
{
	"name": "Product",
	"settings": [
		{
			"type": "header",
			"content": "Section Padding"
		},
		{
			"type": "range",
			"id": "pro_detail_padding_top",
			"label": "Section Padding Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 30
		},
		{
			"type": "range",
			"id": "pro_detail_padding_bottom",
			"label": "Section Padding Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 30
		},
		{
			"type": "radio",
			"id": "product_style_handle",
			"label": "Product Style",
			"options": [
				{
					"label": "Left Thumbnail",
					"value": "style_1"
				},
				{
					"label": "Bottom Thumbnail",
					"value": "style_2"
				}
			],
			"default": "style_1"
		},
		{
			"type": "header",
			"content": "Product Zoom"
		},
		{
			"type": "header",
			"content": "Product SKU"
		},
		{
			"type": "checkbox",
			"id": "product_sku_enable",
			"label": "Show Product SKU",
			"default": true
		},
		{
			"type": "text",
			"id": "product_sku_title",
			"label": "SKU Title",
			"default": "SKU:"
		},
		{
			"type": "header",
			"content": "Product Review"
		},
		{
			"type": "checkbox",
			"id": "product_review_enable",
			"label": "Show Product Review",
			"default": true
		},
		{
			"type": "header",
			"content": "Product Stock"
		},
		{
			"type": "checkbox",
			"id": "product_stock_enable",
			"label": "Show Product Stock",
			"default": true
		},
		{
			"type": "text",
			"id": "stock_label1",
			"label": "Text1",
			"default": "Hurry up! only"
		},
		{
			"type": "text",
			"id": "stock_label2",
			"label": "Text2",
			"default": "products left in stock!"
		},
		{
			"type": "header",
			"content": "Product Inventory"
		},
		{
			"type": "checkbox",
			"id": "product_inventory_enable",
			"label": "Show Product Inventory",
			"default": true
		},
		{
			"type": "text",
			"id": "availability_title",
			"label": "Available Title",
			"default": "Availability:"
		},
		{
			"type": "text",
			"id": "in_stock_title",
			"label": "Stock Title",
			"default": "In Stock"
		},
		{
			"type": "text",
			"id": "out_of_stock_title",
			"label": "Stock Title",
			"default": "Out Of Stock"
		},
		{
			"type": "header",
			"content": "Product Short Description"
		},
		{
			"type": "checkbox",
			"id": "short_description_enable",
			"label": "Show Short Description",
			"default": true
		},
		{
			"type": "header",
			"content": "Product Variant"
		},
		{
			"type": "radio",
			"id": "product_variant_handle",
			"label": "Variant Option",
			"options": [
				{
					"label": "Select Option",
					"value": "product_variant_select_option"
				},
				{
					"label": "Swatch Option",
					"value": "product_variant_swatch_option"
				},
				{
					"label": "Without Variant",
					"value": "product_variant_without_option"
				}
			],
			"default": "product_variant_swatch_option"
		},
		{
			"type": "header",
			"content": "Quntity"
		},
		{
			"type": "text",
			"id": "qty_title",
			"label": "Qty Title",
			"default": "Quntity:"
		},
		{
			"type": "header",
			"content": "Buy Now"
		},
		{
			"type": "text",
			"id": "buy_now_title",
			"label": "Buy Now Direct",
			"default": "Buy Now"
		},
		{
			"type": "header",
			"content": "Social Option"
		},
		{
			"type": "checkbox",
			"id": "social_share_enable",
			"label": "Show Social Share",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "checkout_img_enable",
			"label": "Show Checkout Image",
			"default": true
		},
		{
			"type": "image_picker",
			"id": "checkout_img",
			"label": "Deal images",
			"info": "Recommended Size: 571 x 86px"
		},
		{
			"type": "text",
			"id": "social_share_title",
			"label": "Social Share Title",
			"default": "Share:"
		}
	]
}
{% endschema %}

<script>
	$('#pro-detail-slider').owlCarousel({
	  loop: false,
	  margin: 15,
	  nav: true,
	  navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
	  {%- if settings.enable_rtl -%}
	  rtl: true,
	  {%- endif -%}
	  dots: false,
	  responsive:{
	    0:{
	      items:3
	    },
	    600:{
	      items:2
	    },
	    1000:{
	      items:3
	    }
	  }
	});

	function instantBuy(){
	  var $ = jQuery;
	  var formParams = $('form.cart').serialize();
	  $.ajax({
	    url: "/cart/add",
	    type: "post",
	    data: formParams,
	    success: function(){
	      window.location.href = "/checkout";
	    },
	    error: function(){
	    }
	  })
	}
	function addToCart(){
	  $('form.cart').submit();
	}
	var selectCallback = function(variant, selector) {
	  timber.productPage({
	    money_format: "{{ shop.money_format }}",
	    variant: variant,
	    selector: selector
	  });
	  if (variant.available) {
	    // Current variant select+
	    var form = jQuery('#' + selector.domIdPrefix).closest('form');
	    for (var i=0,size=variant.options.size; i<size; i++) {
	      var val = variant.options[i].replace(/'/g,"&#039;");
	      var radioButton = form.find(".swatch[data-option-index='" + i + "'] :radio[value='" + val +"']");
	      if (radioButton.size()) {
	        radioButton.get(0).checked = true;
	      }
	    }
	  }

	  if (variant && variant.available) {

	    if(variant.price < variant.compare_at_price) {

	      $('#ProductPrice').html('<span class="new-price">'+Shopify.formatMoney(variant.price, "{{ shop.money_format }}")+'</span><span class="old-price">'+Shopify.formatMoney(variant.compare_at_price,  "{{ shop.money_format }}")+'</span>');
	    } else {
	      $('#ProductPrice').html('<span class="new-price">'+Shopify.formatMoney(variant.price, "{{ shop.money_format }}")+'</span>');
	    }

	  }
	  if (variant && variant.featured_image) {
	    jQuery('#gallery_01 [data-image-id="' + variant.featured_image.id + '"]').trigger('click');
	  }
	};
	jQuery(function($) {
	  new Shopify.OptionSelectors('productSelect', {
	    product: {{ product | json }},
	    onVariantSelected: selectCallback,
	    enableHistoryState: true
	  });
	  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
	  {% if product.options.size == 1 and product.options.first != 'Title' %}
	  $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
	  {% endif %}
	  // Hide selectors if we only have 1 variant and its title contains 'Default'.
	  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
	  $('.selector-wrapper').hide();
	  {% endif %}
	});
	  $(window).resize(function(){

	  });
	  $("#zoom_mw").elevateZoom({gallery:'gallery_01', zoomType: 'inner', responsive:true, cursor: 'crosshair', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: ''});
	  //pass the images to Fancybox
	  $("#zoom_mw").bind("click", function (e) {
	    var ez = $('#zoom_mw').data('elevateZoom');
	    $.fancybox(ez.getGalleryList());
	    return false;
	  });
</script>

<style>
	.product-details{
	  padding-top: {{ section.settings.pro_detail_padding_top }}px;
	  padding-bottom: {{ section.settings.pro_detail_padding_bottom }}px;
	}
</style>
